spring:
 application:
  name: authorization-server
 devtools:
    restart:
      enabled: false

 jpa:
  hibernate:
   ddl-auto: create-drop
  properties:
   hibernate:
    '[default_schema]': ${BOUTIQUE_SCHEMA_DB} #Esquema de la base de datos

 datasource:
  url: ${BOUTIQUE_DB_URL}
  username: ${BOUTIQUE_DB_USER}
  password: ${BOUTIQUE_DB_PASS}
  driver-class-name: org.postgresql.Driver

server:
 port: 9000

# Springdoc OpenAPI Configuration
springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs